.detailContainer{
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 40px 70px;
}
.detailWrapper{
    width: 100%;
}
.detailImages{
    display: flex;
    flex-direction: row;
    width: calc(50% - 2px);
    padding: 50px 0 90px 90px;
}
.detailInfo{
    padding: 70px 90px;
}
.detailImgText{
    font-size: 46px;
    margin: 0 0 20px
}
.detailShortInfo{
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
}
.infoFirst{
    flex: 1 1;
    color: #484747;
    font-size: 17px;
    margin-left: 5px;
    text-align: left;
    line-height: 25px;
}
.infoSecond{
    flex: 1 1;
    color: #484747;
    font-size: 17px;
    margin-left: 5px;
    text-align: left;
    line-height: 25px;
}
.changeColor{
    border: 0;
    width: 6%;
    height: 3%;
    border-radius: 50%;
    margin-right: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}
.detailImgPrice{
    margin-bottom: 10px;
    font-size: 22px;
    justify-content: flex-start;
}
.detailBtn{
    letter-spacing: .2em;
    font-size: 16px;
    display: inline-block;
    padding: 11px 20px;
    margin: 0;
    line-height: 1.42;
    text-align: center;
    cursor: pointer;
    border-radius: 0;
    color: #fff;
    background: #000;
    margin-top: 10px;
    width: 100%;
}
@media only screen and (hover:none) and (pointer: coarse) {
    .detailContainer{
        flex-direction: column;
    }
    .detailImages{
        display: flex;
        flex-direction: row;
        width: 100%;
        padding: 0px;
        overflow-x: scroll;
        overflow-y: hidden;
    }
    .detailInfo{
        padding: 50px 10px;
    }
    .detailImgText{
        font-size: 30px;
    }
    .infoFirst{
        font-size: 14px;
    }
    .infoSecond{
        font-size: 14px;
    }
    .changeColor{
        width: 20px;
        height: 20px;
    }
    .detailImgPrice{
       text-align: center;
       margin-bottom: 20px;
    }
    .detailBtn{
        font-size: 14px;
    }
}