.detailsContainer{
    width: 100%;
    padding: 20px 200px;
}
.detail{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
/* .detailImage{} */
.image{
    width: 450px;
}
.detailsWrapper{
    display: flex;
    flex-direction: column;
}
.imageInfo{
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
} 
.imageText{
    font-size:24px;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 20px;
}
.imagePrice{
    font-size:18px;
    font-weight: 500;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 40px;
}
.sizes{
    font-size:16px;
    font-weight: 400;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 40px;
}
.addToBasket{
    border: 0;
    background-color: #000;
    padding: 10px 15px;
    color: #fff;
    margin-bottom: 60px;
    cursor: pointer;
    text-align: center;
    transition: .3s ease-in-out;
}
.addToBasket:hover{
    background-color: #4c4c4c;
}
.cargoInfo{
    color: #050505;
    font-weight: 300;
}


@media only screen and (hover:none) and (pointer: coarse) {
    .detailsContainer{
        width: 100%;
        padding: 0;
    }
    .detail{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .image{
        width: 100%;
        margin-bottom: 30px;
    }
    .detailsWrapper{
        display: flex;
        flex-direction: column;
    }
    .imageInfo{
        display: flex;
        flex-direction: column;
        justify-content: space-between; 
    } 
    .imageText{
        font-size:22px;
        font-weight: bold;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        margin-bottom: 20px;
    }
    .imagePrice{
        font-size:20px;
        font-weight: 500;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        margin-bottom: 40px;
    }
    .sizes{
        font-size:16px;
        font-weight: 400;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        margin-bottom: 40px;
    }
    .addToBasket{
        font-size:17px;
        padding: 10px;
        background-color: black;
        color: #fff;
        text-align: center;
        margin-bottom: 40px;
    }
    .cargoInfo{
        color: #050505;
        font-weight: 300;
    }
    
} 