.favoriteContainer{
    padding: 20px 50px;
    width: 100%;
}
.favoriteList{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 0px 2px;
}
.favoriteItem{
    width: calc(33% - 4px);
}
.favoriteInfo{
    margin-top: 12px;
}
.favoriteText{
      font-size: 16px;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      margin-left: 5px;
      white-space: nowrap;
}
.favoritePrices{
      display: flex;
      flex-direction: column;
      margin-left: 5px;
}
.favoriteMarketPrice{
    text-decoration:line-through;
    font-size: 14px;
    margin-top: 7px;
    margin-bottom: 7px;
}
.favoritePrice{
    font-weight: bold;
    color: #000;
    margin-bottom: 5px;
    font-size: 16px;
    margin-top: 3px;
    margin-bottom: 40px;
}


@media only screen and (hover:none) and (pointer: coarse) {

    .favoriteContainer{
    margin-top: 10px;
    padding: 0px;
    width: 100%;
    }
    .favoriteList{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 0px 15px;
    }
    .favoriteItem{
    width: calc(48% - 4px);
    }
    .favoriteText{
        font-size: 14px;
        text-align: start;
        margin-left: 0;
    }
    .favoritePrices{
        margin-left: 0px;
    }
    .favoriteMarketPrice{
        text-decoration:line-through;
        font-size: 10px;
        margin-top: 7px;
        margin-bottom: 7px;
    }
    .favoritePrice{
        font-weight: bold;
        color: #000;
        margin-bottom: 5px;
        font-size: 12px;
        margin-top: 3px;
        margin-bottom: 40px;
    }
} 